.banner{
  position: relative;
  width:100%;
  height: 40px;
  float: none;
  margin-bottom: 10px;
  border-bottom: solid 1px lightgray
}
.logo{
  float: left;
  position: relative;
  left:0;
  top:0;
  width:200px;
  height:40px;
  background:yellowgreen
}

.is-logged-in{
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login, .join-in, .user-profile, .user-name{
  margin-right: 10px;
}

.user-profile{
 
}
