li{
  list-style: none;
}

.box{
  margin-bottom:1.2rem;
  padding:0.9rem;
}

html, body, #root, .App {
  height: 100%;
  overflow-y: hidden;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
}

.contents{
  position: relative;
  flex-grow: 1;
}

.Board{
  flex-grow: 1;
  position: absolute;
  padding: 10px 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x:scroll;
  vertical-align: top;
  width:100%;
  height:100%
}

.List-wrap{
  display: inline-block;
  position: relative;
  left:0px;
  top:0px;
  bottom: 0;
  right:0;
  width:250px;
  height: 100%;
  margin: 0 8px;
  vertical-align: top;
}

.ListForm{
  display: inline-block;
}

.List.box{
  background:#eaeae3;
  padding:10px;
}

.List .title:hover{

}

.Card{
  position: relative;
  padding-bottom: 1px;
}

.Card-wrap{
  position: relative;
  padding-bottom: 1px;
}

.Card.box:hover{
  position: relative;
  background:#f6f6f6;
}

.modal-content{
  height:500px
}

.field .control{
  margin:10px 0px;
}

.is-grouped button{
  margin: 0 20px 0 0
}

.btn-delete{
  position: absolute;
  right:5px;
  top:10px;
}

.btn-edit{
  position: absolute;
  right:5px;
  top: 45px;
}


.buttons{
  position: absolute;
  right:5px;
  top:10px;
}

.dropdown-trigger{
  position: relative;
  z-index: 5;
}

.dropdown-content{
  position: absolute;
  left:80%;
  top:20px;
  width:180px;
  z-index: 10;
}

.btn-close{
  position: absolute;
  right:-3px;
  top:3px;
}

.dropdown-content hr, .Card-wrap hr{
  margin: 0.4em
}

.members.control.is-grouped{
  margin-bottom:3px;
}

.member-image{
  position: relative;
  left:0;
  top:0;
  z-index: 1;
}

.Popup{
  position: absolute;
  left:50%;
  top:20px;
  width:250px;
  z-index: 10;
}

.member.name{
  float: left;
  position: relative;
  left:0.5rem;
  top:0rem;
}

.list-item{
  position: relative;
  list-style: none;
  height: 2.1rem;
  top:0;
  width: 100%;
}

.list-item .member-image{
  float: left;
}

.list-item:hover{
  background:#99ce5c
}

.member-check{
  float: left;
  display: inline-block;
  position: relative;
  top:0;
  left:10px;
}